<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	cacheResultFile=".phpunit.cache/test-results"
	colors="true"
	executionOrder="depends,defects"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnWarning="true"
	failOnRisky="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>tests/Integration</directory>
		</testsuite>
	</testsuites>

	<!--
		Coverage is opt-in (it is slow). Drive it from the CLI:
		  composer run test:coverage         HTML + clover, via the script
		  vendor/bin/phpunit [coverage flag]
	-->
	<coverage
		includeUncoveredFiles="true"
		processUncoveredFiles="false"
		ignoreDeprecatedCodeUnits="true"
		disableCodeCoverageIgnore="false"
	>
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>

	<php>
		<ini name="error_reporting" value="-1"/>
		<ini name="display_errors" value="1"/>
		<ini name="display_startup_errors" value="1"/>
		<ini name="memory_limit" value="512M"/>
	</php>
</phpunit>
